[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".todo/actions/graph"]
	path = .todo/actions/graph
	url = git@github.com:timpulver/todo.txt-graph.git
[submodule ".todo/actions/watch"]
	path = .todo/actions/watch
	url = git@github.com:kynda/todot.txt-watch.git
[submodule ".todo/actions/due"]
	path = .todo/actions/due
	url = git@github.com:rebeccamorgan/due.git
